@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
.content-card {
  min-height: 600px;
  padding: 20px;
  box-sizing: border-box; }
  .content-card.full-sized {
    width: 100%; }
  .content-card.clear {
    background-color: #FFF8E8;
    color: #242331; }
  .content-card.dark {
    background-color: #242331;
    color: #FFF8E8; }
  .content-card.primary-dark {
    background-color: #000900;
    color: #FFF8E8; }
  .content-card.shadow {
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.175); }
  .content-card.no-padding {
    padding: 0; }

.header {
  height: 50px;
  width: 100%;
  background-color: #242331;
  position: fixed;
  z-index: 1;
  -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.175);
  display: flex;
  justify-content: flex-end; }
  .header > * .nav-button {
    color: #FFF8E8;
    height: 100%;
    margin-right: 20px; }

.topic {
  width: 100%;
  text-align: center; }

.content {
  position: relative;
  top: 50px;
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0;
  background-color: #FFF8E8;
  height: 100%; }

.project-container {
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch; }
  .project-container .description {
    flex: 1; }
  .project-container .project-content {
    width: 70%; }

.vertical-div {
  width: 2px;
  height: 100%; }
  .vertical-div.clear {
    background-color: #FFF8E8; }

.academic-experience {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center; }
  .academic-experience .experiences {
    display: flex;
    flex-flow: row nowrap; }
    .academic-experience .experiences .experience-container {
      flex-grow: 1;
      width: 100%;
      display: flex;
      flex-flow: column nowrap; }
      .academic-experience .experiences .experience-container .icon {
        text-align: center; }
        .academic-experience .experiences .experience-container .icon i {
          font-size: 60px; }
      .academic-experience .experiences .experience-container .text {
        text-align: center; }

.skillset-programing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  text-align: center; }
  .skillset-programing .skillsets {
    justify-content: center;
    display: flex;
    flex-flow: row nowrap; }
    .skillset-programing .skillsets .skillset {
      margin: 20px; }
      .skillset-programing .skillsets .skillset .icon {
        font-size: 40px; }

.skillset-artistic {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  text-align: center; }
  .skillset-artistic .skillsets {
    justify-content: center;
    display: flex;
    flex-flow: row nowrap; }
    .skillset-artistic .skillsets .skillset {
      margin: 20px; }
      .skillset-artistic .skillsets .skillset .icon {
        font-size: 40px; }

.ohgj-games {
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
  height: 100%;
  color: #FFF8E8; }
  .ohgj-games .games {
    width: 70%;
    padding: 20px;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }
    .ohgj-games .games > * .game-picture {
      width: 100px;
      height: 100px; }
    .ohgj-games .games .game {
      margin: 0;
      width: 100px;
      height: 100px; }
  .ohgj-games .description {
    height: 100%;
    padding: 20px;
    flex: 1; }

.paradise .project-content {
  display: flex;
  justify-content: center; }

.paradise > * .image {
  height: 450px; }

.robot .project-content {
  display: flex;
  justify-content: center; }

.robot > * .image {
  height: 450px; }

.isaw .project-content {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  flex-flow: row wrap; }

.isaw > * .image {
  margin: 5px;
  width: 300px; }

.paradise-background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/paradise.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }

.isaw-background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/isaw/isaw-index.png");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.tridimensional-background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/robot-lineart.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.ohgj-background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/onehourgamejam.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

body {
  background-color: #242331;
  font-family: 'Muli', sans-serif;
  margin: 0; }

::-webkit-scrollbar {
  display: none; }

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */ }
