doctype html
html(lang="pt-br")
  head
    title Cassiano Belniak
    link(rel="stylesheet", href="/style.css", type="text/css")
    script(src="https://kit.fontawesome.com/4aba16db39.js" crossorigin="anonymous")
  body
    block content