extends components/frameset.pug

block header
    script(src="/modal.js")
    link(rel="stylesheet", href="/modal.css")
block content
    +modal
    .header
        +nav-button('perfil')
            p perfil
        +nav-button('experience')
            p Acadêmico
        +nav-button('skillset-prog')
            p Programação
        +nav-button('skillset-art')
            p Arte
    .content
        .content-card.full-sized.dark.shadow#perfil
            +header
        .content-card.full-sized.primary-dark.shadow#experience
            +academic-experience
        .content-card.full-sized.light#skillset-prog
            +skillset-programing
        .content-card.full-sized.dark.shadow#skillset-art
            +skillset-artistic
        .content-card.full-sized.dark.shadow.no-padding.ohgj-background
            +ohgj-games
        .content-card.full-sized.primary-dark.shadow.isaw-background
            +isaw
        .content-card.full-sized.dark.shadow.paradise-background
            +paradise
        .content-card.full-sized.primary-dark.shadow.tridimensional-background
            +robot
        .content-card.full-sized.dark.shadow
            p contato

mixin header
    p Olá
    p Sou Cassiano Belniak

mixin academic-experience
    .topic 
        h1 Experiência Acadêmica
    .academic-experience
        .experiences
            .experience-container
                .icon
                    i.fas.fa-desktop
                .text
                    p Análise e Desenvolvimento de Sistemas na UFPR
                    p 2015 - 2018
            .vertical-div.clear
            .experience-container
                .icon
                    i.fas.fa-pencil-ruler
                .text
                    p Design Gráfico EAD na Cruzeiro do Sul
                    p 2019 - cursando

mixin skillset-programing
    .topic 
        h1 Competências em programação
    .skillset-programing
        .skillsets
            .skillset
                .icon.fab.fa-js
                p JavaScript
            .skillset
                .icon.fab.fa-java
                p Java
            .skillset
                .icon.fab.fa-sass
                p Java
            .skillset
                .icon.fab.fa-python
                p Java
            .skillset
                .icon.fab.fa-php
                p Java

mixin skillset-artistic
    .topic 
        h1 Competências em design
    .skillset-artistic
        .skillsets
            .skillset
                .icon.fab.fa-js
                p JavaScript
            .skillset
                .icon.fab.fa-java
                p Java
            .skillset
                .icon.fab.fa-sass
                p Java
            .skillset
                .icon.fab.fa-python
                p Java
            .skillset
                .icon.fab.fa-php
                p Java

mixin ohgj-games
    .topic
        h1 One Hour Game Jam
    .ohgj-games
        .games
            +game("gleen", "")
            +game("frog", "")
            +game("2p", "2p")
            +game("4elements", "4elements")
            +game("charge", "")
            +game("ram", "")
            +game("darkness", "")
            +game("dream", "")
            +game("eletricity", "")
            +game("fall", "")
            +game("favorite", "")
            +game("button", "")
            +game("lava-ninja", "")
            +game("magic", "")
            +game("one-control", "")
            +game("rain", "")
            +game("ram", "")
            +game("second-chance", "")
            +game("spike", "")
            +game("submarine", "")
            +game("theft", "")
            +game("train", "")
            +game("walls", "")
            +game("weapon", "")
        .description
            p O #[a(href="http://onehourgamejam.com/") One Hour Game Jam] é um desafio semanal em que você precisa desenvolver um jogo completo (programação, arte, musica) em apenas uma hora.
            p Os jogos devem ser seguir um tema que é anunciado na hora da competição. A comunidade faz uma transmição ao vivo dos jogos sendo testados no final de cada sessão.
            p Não há um ranking por não ser uma competição.
            p Essas são algumas das minhas entradas no site:

mixin isaw
    .topic 
        h1 ISaw
    .isaw
        .project-container
            .description
                p A LGPD (Lei Geral de Proteção de Dados Pessoais) é a nova lei brasileira de proteção de dados baseada na lei européia GDPRque passa a valer em 2021.
                p Para o #[a(href="https://globallegalhackathon.com/") Global Legal Hackathon], nós desenvolvemos uma solução que permite verificar se o seu site se enquadra nas novas diretrizes da lei brasileira de proteção de dados. 
                p Aqui estão algumas telas do nosso site.
            .project-content
                img.image.modal(src="/images/isaw/isaw-scrape.png")
                img.image.modal(src="/images/isaw/isaw-report.png")
                img.image.modal(src="/images/isaw/isaw-results.png")
                img.image.modal(src="/images/isaw/isaw-index.png")

mixin paradise
    .topic 
        h1 Paraíso
    .paradise
        .project-container
            .description
                p dsdsd
            .project-content
                img.image.modal(src="/images/paradise.jpg")

mixin robot
    .topic 
        h1 Desenho tridimensional
    .robot
        .project-container
            .description
                p Caratz
            .project-content
                img.image.modal(src="/images/robot.png")
                img.image.modal(src="/images/robot-lineart.jpg")

mixin nav-button(where)
    a(href="#"+where)
        .nav-button
            block

mixin game(iconName, link)
    if iconName != ''
        .game
            a(href="/OneHourGameJam/"+link, target="_blank")
                img.game-picture(src="/images/ohgj/" + iconName + ".png")
    else
        .game
            
mixin modal
    .modal-container#modal-container
        span.close &times
        img.modal-content#modal-img
        #caption