$header-height: 50px;

.content-card{
    min-height: 600px;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
    &.full-sized{
        width: 100%;
    };
    &.clear{
        background-color: $text-light;
        color: $text-dark;
    };
    &.dark{
        background-color: $text-dark;
        color: $text-light;
    }
    &.primary-dark{
        background-color: $primary-dark;
        color: $text-light;
    }
    &.shadow{
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.175);
        -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.175);
        box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.175);
    }
    &.no-padding{
        padding: 0;
    }
    &.short{
        min-height: 300px;
    }
}

.header{
    height: $header-height;
    width: 100%;
    background-color: $text-dark;
    position: fixed;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.175);
    -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.175);
    box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.175);
    display: flex;
    justify-content: flex-end;
    > * .nav-button{
        color: $text-light;
        height: 100%;
        margin-right: 20px;
    }
    .nav-button{
        color: $text-light;
        height: 100%;
        margin-right: 20px;
    }
}

.perfil{
    width: 100%;
    height: 560px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    .perfil-center{
        display: flex;
        height: 100%;
        flex-flow: column;
        justify-content: center;
    }
}

.topic{
    width: 100%;
    text-align: center;
}
 
.content{
    position: relative;
    top: $header-height;
    margin-top: $header-height;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0;
    background-color: $text-light;
    height: 100%;
}

.project-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    .description{
        flex: 1;
    }
    .project-content{
        flex: 1;
    }
}

.vertical-div{
    width: 2px;
    height: 400px;
    &.clear{
        background-color: $text-light;
    }
} 

.academic-experience{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
    .experiences{
        display: flex;
        flex-flow: row nowrap;
        .experience-container{
            flex-grow: 1;
            width: 100%;
            display: flex;
            flex-flow: column nowrap;     
            .icon{
                text-align: center;
                i{
                    font-size: 60px;
                }
            }
            .text{
                text-align: center;
            }
        }
    }
}

.skillset-programing{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    .skillsets{
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
        .skillset{
            margin: 20px;
            .icon{
                font-size: 40px;
            }
        }
    }
}

.skillset-artistic{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    .skillsets{
        justify-content: center;
        display: flex;
        flex-flow: row nowrap;
        .skillset{
            margin: 20px;
            .icon{
                font-size: 40px;
            }
        }
    }
}

.ohgj-games{
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    color: $text-light;
    justify-content: center;
    .games{
        position: relative;
        flex: 1;
        padding: 20px;
        height: fit-content;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        > * .game-picture{
            width: 100px;
            height: 100px;
            position: relative;
        }
        .game{
            margin: 0;
            position: relative;
            width: 100px;
            height: 100px;
            z-index: 0;
            transition: transform .2s;
            top: 0;
            left: 0;
            &:hover{
                transform: scale(1.2);
                z-index: 1;
            }        
        }
    }
    .description{
        height: 100%;
        padding: 20px;
        flex: 1;
    };
}

.paradise{
    .project-content{
        display: flex;
        justify-content: center;
    }
    > * .image{
        height: 450px;
    }
}

.robot{
    .project-content{
        display: flex;
        justify-content: center;
    }
    > * .image{
        height: 400px;
        margin: 5px;
    }
}

.isaw{
    .project-content{
        display: flex;
        align-content: flex-end;
        justify-content: center;
        flex-flow: row wrap;
    }
    > * .image{
        margin: 5px;
        width: 300px;
        height: auto;
    }
}

.this-site{
    width: 50%;
}

.contact{
    text-align: right;
}

#projects-dropdown{
    &:hover{
        .projects-content{
            position: absolute;
            top: 50px;
            display: block;
            .nav-button{
                background-color: $text-dark;
                margin: 0;
                height: 50px;
                padding: 5px;
            }
        }
    }
    .projects-content{
        display: none;
    }
}

.paradise-background{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/paradise.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.isaw-background{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/isaw/isaw-index.png");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.tridimensional-background{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/robot-lineart.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ohgj-background{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/onehourgamejam.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-background{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/header.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}